<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./public/images/favicon-16x16.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Threat Level Midnight</title>
</head>

<body>
    <header>
        <section>
            <h1 class="block text-black"> American Movies That Were Banned in Other Countries </h1>
            <h2 class="block text-black"> Should these movies be banned? Sign up and discuss with other users why (or
                why not) these movies should be banned!</h2>
        </section>

        <nav>
            <ul>
                <!-- List Item Element -->
                <button type="button" class="btn btn-link btn-block"><a href="./sign-up"> Sign Up </a></button>
                <button type="button" class="btn btn-link btn-block"><a href="login"> Login </a></button>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <p> 🎥 Created by Carl Bush, Evin White, Francisco Rivera, Sarah Powell and Zachary Lopez </p>
    </footer>
</body>

</html>