<section>
    <h1> Login </h1>
    <form id="login-form" class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Email: </label>
            <input type="email" class="form-control" id="email-login" placeholder="Enter email" />
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="password"> Password: </label>
            <input type="password" class="form-control" id="password-login" placeholder="Enter Username" />
        </div>

        <button type="submit">Submit</button>
    </form>
</section>

<script src="/javascript/login.js"></script>