    <section>
        <!-- Enter Flexboxes for movie posters and comment input boxes -->
        <article class="movie-posters"> 
            <h3>Placeholder Title ie 'The Infamous Movies'</h3>
            <article class="movie" id="first-movie"> 
                <h4>"Movie 1 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 2 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 3 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 4 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 5 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 6 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 7 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 7 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 8 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 9 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>

            <article class="movie" id="first-movie"> 
                <h4>"Movie 10 Image"</h4>
                <label for="name"> Comment </label>
                <input class="comment-box" type="text"/>
            </article>
        </article>

    </section>