<!--<link rel="stylesheet" href="/css/sign-up.css">-->
<section>
    <h1> Create a Login </h1>
    <form id="create-signup" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username"> Username: </label>
            <input type="user-name" class="form-control" id="username-signup" placeholder="Enter Username" />
        </div>

<<<<<<< HEAD
            <div class="form-group">
                <label class="control-label col-sm-2" for="username"> Username: </label>
<<<<<<< HEAD
                <input type="user-name" class="form-control" id="create-username" placeholder="Enter username"/> 
=======
                <input type="user-name" class="form-control" id="create-username" placeholder="Enter Username"/> 
>>>>>>> 46ec3a3e74c999ec8e2a2576531dbd4b690c553c
            </div>
=======
        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Email: </label>
            <input type="email" class="form-control" id="email-signup" placeholder="Enter E-mail" />
        </div>
>>>>>>> bd7c69012ce5cab6544aace69deef27a7cbafe70

        <div class="form-group">
            <label class="control-label col-sm-2" for="password"> Password: </label>
            <input type="password" class="form-control" id="password-signup" placeholder="Enter Password" />
        </div>

<<<<<<< HEAD
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"> Password: </label>
<<<<<<< HEAD
                <input type="password" class="form-control" id="create-password" placeholder="Enter email"/>
            </div>

                <button type="submit" id="create-signup">Submit</button>
        </form>
    </section>
    <script src="/javascript/sign-up.js"></script>

    <!--<script src="/javascript/login.js"></script>

    
=======
                <input type="password" class="form-control" id="create-password" placeholder="Enter Password"/>
            </div>

                <button type="button" id="create-signup">Submit</button>
        </form>
    </section>
>>>>>>> 46ec3a3e74c999ec8e2a2576531dbd4b690c553c
=======
        <button type="submit">Submit</button>
    </form>
</section>
<script src="/javascript/sign-up.js"></script>
>>>>>>> bd7c69012ce5cab6544aace69deef27a7cbafe70
