    <section>
        <h1> Create a Login </h1>
        <form class="form-horizontal" id="signup-form">

            <div class="form-group">
                <label class="control-label col-sm-2" for="username"> Username: </label>
                <input type="user-name" class="form-control" id="username-signup" placeholder="Enter username"/> 
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email"> Email: </label>
                <input type="email" class="form-control" id="email-signup" placeholder="Enter email"/>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password"> Password: </label>
                <input type="password" class="form-control" id="password-signup" placeholder="Enter email"/>
            </div>

                <button type="submit">Submit</button>
        </form>
    </section>
    <script src="/javascript/login.js"></script>