<!--<link rel="stylesheet" href="/css/sign-up.css">-->
<section>
    <h1> Create a Login </h1>
    <form id="create-signup" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username"> Username: </label>
            <input type="user-name" class="form-control" id="username-signup" placeholder="Enter Username" />
        </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="username"> Username: </label>
                <input type="user-name" class="form-control" id="create-username" placeholder="Enter Username"/> 
            </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="email"> Email: </label>
            <input type="email" class="form-control" id="email-signup" placeholder="Enter E-mail" />
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="password"> Password: </label>
            <input type="password" class="form-control" id="password-signup" placeholder="Enter Password" />
        </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password"> Password: </label>
                <input type="password" class="form-control" id="create-password" placeholder="Enter Password"/>
            </div>

                <button type="button" id="create-signup">Submit</button>
        </form>
    </section>

        <button type="submit">Submit</button>
    </form>
</section>
<script src="/javascript/sign-up.js"></script>
