body {
    background-image: url(../images/banned.jpg);
    color: white;
    text-align: center;
}

/* .hero-image {
    background-image: url(https://i.gifer.com/7UqT.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover cover;
    height: 300px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
} */

.container {
    /* margin: 20px;
    margin-left: auto;
    margin-right: auto; */
    /* padding-left: 20px;
    padding-right: 20px; */
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
    padding-bottom: 30px;
    border-color: yellow;
    margin-top: 30px;
}

h2 {
    /* text-align: center; */
    font-size: 35px;
}

h3 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.movie-posters {
    padding-top: 0px;
}

h4 {
    font-size: 30px;
    float: none;
    color: rgb(255, 55, 55);
} 

h5 {
    color: black;
}

#login-btn {
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    border-bottom-style: groove;
    color: yellow;
    border-color: yellow;
}

.topnav {
    float: right;
    font-size: 10px;
}

footer {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.form-group {
    font-size: small;
}

.posters {
    text-align: center;
}

.comment-box {
    text-align: center;
    /* font-style: italic; */
    width: 400px;
    height: 100px;
    overflow-wrap: break-word;
    padding-top: 40px;
}

.comment-box::placeholder {
    font-style: italic;
    text-align: center;
}

.movie {
    padding-top: 50px;
}


