body {
    text-align: center;
    background-color: lightcoral;
}

.hero-image {
    background-image: url(https://i.gifer.com/7UqT.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover cover;
    height: fit-content;
}

#login-btn {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
}

.topnav {
    float: right;
    font-size: 10px;
}

button:hover {
    background-color: transparent;
}

footer {
    color: white;
    text-align: center;
}

.form-group {
    font-size: small;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

log-in container {
    font-size: medium;
    color: blue;
}