body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.055)), url(../images/banned.jpg);
    color: white;
    margin-top: 20px;
}

.hero-image {
    background-image: url(https://i.gifer.com/7UqT.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover cover;
    height: 300px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.container {
    /* margin: 20px;
    margin-left: auto;
    margin-right: auto; */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 25px;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 30px;
} 

#login-btn {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
}

.topnav {
    float: right;
    font-size: 10px;
}

button:hover {
    background-color: transparent;
}

footer {
    color: white;
    text-align: center;
}

.form-group {
    font-size: small;
}

.posters {
    text-align: center;
}

.comment-box {
    text-align: center;
    /* font-style: italic; */
    width: 400px;
    height: 100px;
    overflow-wrap: break-word;
}

.comment-box::placeholder {
    font-style: italic;
}


