body {
    background-image: url(https://i.gifer.com/7UqT.gif);
    background-size: cover;
}

.topnav {
    float: right;
    font-size: 10px;
}

button:hover {
    background-color: transparent;
}

footer {
    color: white;
    text-align: center;
}

.form-group {
    font-size: small;
}